
html,
body {
    height: 100%;
}

/* Datepicker */
.ui-datepicker-multi-2{
    width: auto !important;
    min-width: 35em;
    max-width: 80%;
    margin: 0 auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-helper-clearfix::before, .ui-helper-clearfix::after {
    border-collapse: collapse;
    content: "";
    display: table;
}
.ui-helper-clearfix::after {
    clear: both;
}
.ui-helper-clearfix::before, .ui-helper-clearfix::after {
    border-collapse: collapse;
    content: "";
    display: table;
}

.dayWithBets {

}

    .currentSelection {
        background-color: #8bcc6b;
    }



/*replace the content value with the
corresponding value from the list below*/

/* Gender classes default */
i.m, i.f, i.d{

    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
}

.ui-datepicker-group i.m, .ui-datepicker-group i.f, .ui-datepicker-group i.d{
    padding-right: 0.1em;
    font-size: 1.5em;
}

/* Gender classes, one each */
/* @deprecated
i.m { content: "\f222";}
i.f { content: "\f221";}
i.d { content: "\f1d0";}

*/
/* Modal */
.choicesModal{

}

    .choicesModal .choice{
        display:inline-block;
        margin: 2em 1em;
    }
        .choicesModal .choice.btn-success i{
            color:white;
        }

    .choicesModal .choice .m,
    .choicesModal .choice .f,
    .choicesModal .choice .d
    {
        margin: 0.75em;
    }

