

<header>{{t 'Header title'}}</header>

<div id="calendar"></div>

<p>{{t 'Presentation'}}</p>

<p>{{t 'Instructions'}}</p>

<footer>{{t 'Footer'}}</footer>



<div data-remodal-id="modal">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div data-remodal-content="main"></div>
</div>
